 

.container-listing {
    margin: 0 auto;
    max-width: 900px;
    min-height: 100%;
    background:#FFE207; 
}

.bookList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
}

.bookList li {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 0 auto;
}

.bookList img {
    align-self: center;
    display: block;
    max-width: 100%;
}

.container-button {
    display: grid;
    padding: 30px;
}

.load-more {
    background: #3377FF ;
    color: #ffffff;
    padding: 10px;
    border-radius: 30px;
    border: none;
    margin: 0 auto;
}