.containerHome {
    background:#FFE207;
    height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    text-align:center;  
}

.containerHome h1 {
    color:#585858 ;
    
}

.containerHome h2 {
    color:#585858;
    
}
